@import "Variables.scss";

@font-face {font-family: "DNSRotondaC"; src: url("//db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.eot");
  src: url("//db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.svg#DNS RotondaC") format("svg"); }

//font-family: "PT Sans","Helvetica","Arial",sans-serif;
a{
  text-decoration: none;
}
