@import "Variables.scss";

@font-face {font-family: "DNSRotondaC"; src: url("https://db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.eot");
  src: url("https://db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.eot?#iefix") format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.woff2") format("woff2"),
  url("https://db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.woff") format("woff"),
  url("https://db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/09f4991737eeaec48da2d248cef1e505.svg#DNS RotondaC") format("svg"); }

a {
  text-decoration: none;
}

#content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: 7vh;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}