$main-color: #FFFFFF;
$add-color: #000000;
$blue-color-style: #0099ff;
$button-color-style: #007EDBCE;
$shadow-color: #393939;
$main-back-color: #eaeaea;
$menu-inside-shadow: #323232CE;
$font-color: #333333;
$body-bg: #000;
$body-color: #111;